<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "index" %>
<br>
<%= render 'carousel' %>
<br>
<%= render 'searchform' %>
<br/>
<div id="recipes">
  
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <%= image_tag(recipe.image, class:"img-thumb") %> <br>
      <%= link_to recipe.name , recipe, class:"recipe-name" %>
    </div>
    
  <% end %>  
  <br>
</div>

</div>


<div id="pages">
  <ul class=”pagination”>

    <li class="item-page"> <%= will_paginate(@recipes,:previous_label => "&laquo;", 
    :next_label => "&raquo;",:class=>"page",:outer_window => 1,:inner_window => 0) %></li>
  
    </ul>
</div>


