<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "index" %>
<br>
<%= render 'searchform' %>
<br/>
<div id="recipes">
  
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <%= image_tag(recipe.image, class:"img-thumb") %> <br>
      <%= link_to recipe.name , recipe, class:"recipe-name" %>
    </div>
    
  <% end %>
</div>

